<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Fashion Recommender Application</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    
    
    <nav class="navbar">

    </nav>

    <!-- hero section -->
<header class="hero-section">
    <div class="content">
        <img src="static/img/light-logo.png" class="logo" alt="">
        <p class="sub-heading">best fashion collection of all time</p>
    </div>
</header>
<section class="product">
    <h2 class="product-category">best selling</h2>
    <button class="pre-btn"><img src="static/img/arrow.png" alt=""></button>
<button class="nxt-btn"><img src="static/img/arrow.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card1.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card2.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card3.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card4.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card5.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card6.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card7.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card8.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
    </div>
</section>
<!-- collections -->
<section class="collection-container">
    <a href="#" class="collection">
        <img src="static/img/women-collection.png" alt="">
        <p class="collection-title">women <br> apparels</p>
    </a>
    <a href="#" class="collection">
        <img src="static/img/men-collection.png" alt="">
        <p class="collection-title">men <br> apparels</p>
    </a>
    <a href="#" class="collection">
        <img src="static/img/accessories-collection.png" alt="">
        <p class="collection-title">accessories</p>
    </a>
</section>
<section class="product">
    <h2 class="product-category">shirts</h2>
    <button class="pre-btn"><img src="static/img/arrow.png" alt=""></button>
<button class="nxt-btn"><img src="static/img/arrow.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/product image 1.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/product image 3.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/product image 4.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card2.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card3.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
       
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card5.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card6.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card7.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card8.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        
       
    </div>
</section>
<section class="product">
    <h2 class="product-category">shoes</h2>
    <button class="pre-btn"><img src="static/img/arrow.png" alt=""></button>
<button class="nxt-btn"><img src="static/img/arrow.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card9.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card10.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card11.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% offer</span>
                <img src="static/img/card12.png" class="product-thumb" alt="">
                <button class="card-btn">add to whislist</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-des">a short line about the cloth.</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div>
        </div>
       
       
        
       
    </div>
</section>
<footer>

        
</footer>
    <script src="static/js/nav.js"></script>
    <script src="static/js/home.js"></script>
    <script src="static/js/footer.js"></script>


    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "c23c1345-922a-4d7d-8c48-cd806c589f5f", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "dfdf2c2e-7f3f-47b3-b94f-4164d426f934", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
    
</body>
</html>
